@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: rgb(99, 7, 7);
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-family: "Raleway", sans-serif;
}
nav ul {
  list-style-type: none;
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
}
.mainContainer {
  width: 100%;
  background-color: rgba(216, 186, 147, 0.753);
  height: 94vh;
}
.gameContainer {
  padding-top: 2vmax;
  display: flex;
  justify-content: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(3, 10vw);
  font-family: "Raleway", sans-serif;
}
.box {
  cursor: pointer;
  border: 2px solid black;
  font-size: 8vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  font-size: 2rem;
}
.box:hover {
  background-color: #eee;
}
.gameInfo {
  padding: 0 4vmax;
  font-family: "Baloo Bhaina 2", cursive;
}

.bt_0 {
  border-top: 0;
}
.br_0 {
  border-right: 0;
}
.bl_0 {
  border-left: 0;
}
.bb_0 {
  border-bottom: 0;
}
.excite_img {
  display: none;
}
#resetBtn {
  border-radius: 5px;
  padding: 0.8rem 1.4rem;
  margin-left: 3rem;
  background-color: rgb(161, 43, 43);
  cursor: pointer;
  color: #fff;
  border: none;
}
#resetBtn:hover {
  background-color: rgba(121, 26, 26, 0.7);
}
